/* /////BUTTONS////// */

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.buttonContainer1 {
  width: 400px;
  height: 400px;
  position: fixed;
  left: -50px;
  bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer2 {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: -100px;
  right: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer3 {
  width: 400px;
  height: 400px;
  position: fixed;
  top: -100px;
  right: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer4 {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 70px;
  right: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer5 {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 270px;
  right: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer6 {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 470px;
  right: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer7 {
  width: 400px;
  height: 400px;
  position: fixed;
  top: -120px;
  right: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page9Container {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: -100px;
  left: -50px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}


.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 4px solid #d15ecb;
  outline: none;
  transition: 1s ease-in-out;
}

.page9btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #0ec7c4;
  border: 4px solid #0ec7c4;
  outline: none;
  transition: 1s ease-in-out;
}

.page9btn2 {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #ba2abf;
  border: 4px solid #ba2abf;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}


svg2 {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #000;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

span{
  font-weight: bold;
  font-size: 12px;
  color: white;
}

span2{
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #d15ecb;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.page9btn:hover {
  transition: 1s ease-in-out;
  background: #000;
}

.page9btn:hover svg {
  stroke-dashoffset: -480;
}

.page9btn2:hover {
  transition: 1s ease-in-out;
  background: #000;
}

.page9btn2:hover svg {
  stroke-dashoffset: -480;
}



/* ///////BACK BUTTON ///// */


.wrapperBack {
  position: fixed;
  top: 85%;
  right: 10%;
  -webkit-transform: translate(-650%, -30%);
          transform: translate(-650%, -30%);
}

.Homewrapper {
  position: fixed;
  top: 80%;
  right: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);


}

a {
  display: block;
  border-radius: 12px;
  width: 350px;
  height: 200px;
  line-height: 0px;
  font-weight: bold;
  text-decoration: none;
  background: #d15ecb;
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 7px solid #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
}
a, .p1{
  width: 450px;
}
.p3c, a{
  width: 200px; height: 100px;   line-height: 100px; font-size: 50px;
}


.backicon{
  /* width: 70px;
  height: 70px; */
  border-radius: 14px;
  border: 2px solid transparent;
  position: absolute;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  right: 0;
  top: 5px;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: 35px;
  height: 35px;
}

.homeicon{
  width: 70px;
  height: 70px;
  border-radius: 14px;
  border: 2px solid transparent;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: 10px;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
}


.backicon svg{
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  fill: #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: 25px;

}

.homeicon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;

}



a:hover{
  width: 250px;
  border: 2px solid #d15ecb;
  background: transparent;
  color: #d15ecb;
}


a:hover + .backicon{
  border: 3px solid #d15ecb;
  left: -35%;
}

a:hover + .homeicon{
  border: 3px solid #d15ecb;
  right: -35%;
}
