/* ///////BACK BUTTON ///// */

.link_wrapper{
  position: relative;
}

.wrapperBack {
  position: fixed;
  top: 85%;
  right: 10%;
  -webkit-transform: translate(-650%, -30%);
          transform: translate(-650%, -30%);
}

/* ///////FIRST TWO PAGES BUTTONS ///// */

.Homewrapper {
  position: fixed;
  top: 80%;
  right: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

a {
  display: block;
  border-radius: 12px;
  width: 350px;
  height: 200px;
  line-height: 0px;
  font-weight: bold;
  text-decoration: none;
  background: #d15ecb;
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 7px solid #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
}
a, .p1{
  width: 450px;
}
.p3c, a{
  width: 200px; height: 100px;   line-height: 100px; font-size: 30px;
}

/* ///////BACK BUTTON ICON ///// */

.backicon{
  /* width: 70px;
  height: 70px; */
  border-radius: 14px;
  border: 2px solid transparent;
  position: absolute;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  right: 0;
  top: 5px;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: 35px;
  height: 35px;
}

.backicon svg{
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  fill: #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: 25px;

}

/* ///////HOME BUTTON ICON ///// */

.homeicon{
  width: 70px;
  height: 70px;
  border-radius: 14px;
  border: 2px solid transparent;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 50px;
  top: 10px;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.homeicon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;

}

/* ///////OVERALL HOVER EFFECT ///// */

a:hover{
  width: 250px;
  border: 2px solid #d15ecb;
  background: transparent;
  color: #d15ecb;
}

a:hover, .p1{  width: 450px;}
.p3c, a:hover{  width: 150px;}


a:hover + .backicon{
  border: 3px solid #d15ecb;
  left: -35%;
}

a:hover + .homeicon{
  border: 3px solid #d15ecb;
  right: -65%;
}
