/* /////Citation BUTTONS////// */
.wrapperRestart{
  position: fixed;
  top: 15%;
  left: 90%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.wrapperGit{
  position: fixed;
  top: 35%;
  left: 90%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.wrapperAna{
  position: fixed;
  top: 55%;
  left: 90%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.wrapperZoe{
  position: fixed;
  top: 75%;
  left: 90%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.link_wrapper{
  position: relative;
}


a {
  display: block;
  border-radius: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #d15ecb;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  border: 7px solid #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
  width: 170px; height: 45px;   line-height: 35px; font-size: 14px;
}


a:hover{
  width: 170px;
  border: 2px solid #d15ecb;
  background: transparent;
  color: #d15ecb;
}
