
.wrapperHome{
  position: fixed;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.wrapper, .p3c{
  position: fixed;
  top: 86%;
  left: 85%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}



.link_wrapper{
  position: relative;
}

a {
  display: block;
  border-radius: 14px;
  width: 250px;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
  text-decoration: none;
  background: #d15ecb;
  text-align: center;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 7px solid #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
}
a, .p1{ width: 450px; }
.p3c, a{width: 150px; height: 40px;   line-height: 40px; font-size: 15px; }


.icon{
  width: 70px;
  height: 70px;
  border-radius: 14px;
  border: 2px solid transparent;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: 5px;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.p3c, .icon{
  width: 35px;
  height: 35px;
}


.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 15px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #d15ecb;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.p3c, .icon svg{
    width: 25px;
}


a:hover{
  width: 250px;
  border: 2px solid #d15ecb;
  background: transparent;
  color: #d15ecb;
}
a:hover, .p1{  width: 450px;}
.p3c, a:hover{  width: 150px;}


a:hover + .icon{
  border: 3px solid #d15ecb;
  right: -35%;
}
/* ///////RESTART BUTTON ///// */

.wrapperRestart{
  position: fixed;
  top: 15%;
  left: 85%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}
.link_wrapperRestart{
  position: relative;
}
